@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #2e2e2e;
    background: linear-gradient(to bottom right, #ff966d, #fa538d, #89379c);
    display: grid;
    place-items: center;
}

/* container section*/
.container{
    position: relative;
    width: 800px;
    height: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
}

/* welcome section  */

.welcome{
    position: absolute;
    top:0;
    left: 0;
    width: 300px;
    height: 400px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    transition: 1s cubic-bezier(.95,.32,.37,1.31);
    z-index: 2;
}
.login-title{
    margin: 50px 0;
    letter-spacing: 2px;
    color: #fff;
}
.login-des{
    padding: 0 25px;
    color: #fff;
    font-weight: 300;
}

.login-btn{
    margin: 30px 0;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    outline: none;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    transition: .5s;
    transition-delay: .5s;
}
.register-btn{
    display: none;
    position: absolute;
    top: 57.5%;
    left: 25%;
    width: 150px;
    height: 40px;
    text-align: center;
    border-radius: 30px;
    outline: none;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    transition-delay: .5s;
}

.login-btn.active{
    opacity: 1;
    visibility: visible;
    display: block;
}

.register-btn.active{
    opacity: 0;
    visibility: hidden;
    display: none;
}

/* register section */
.register{
    position: absolute;
    top: 0;
    left: 300px;
    width: 500px;
    height: 100%;
    text-align: center;
    transition: 1s cubic-bezier(.95, .32,.37,1.31);
    z-index: 1;
    opacity: 1;
    visibility: visible;
}
.register-title{
    position: relative;
    margin: 40px 0;
    padding: 0;
}
.register input{
    margin: 5px 0;
    width: 300px;
    height: 30px;
    font-weight: 700;
}
.name{
    padding: 5px 10px;
}